<h1 class="text-3xl font-bold tracking-tight"><%= @reservation.listing.title %></h1>

<pre><%= JSON.pretty_generate(@reservation.json) %></pre>

<form action="<%= cancel_reservation_path(@reservation) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="reservation[listing_id]" value="<%= @listing.id %>">
  <input type="submit" value="Cancel Reservation">
</form>
