<!DOCTYPE html>
<html>
  <head>
    <title>Clearbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% maps_api_key = Rails.application.credentials.google[:maps_api_key] %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= maps_api_key %>&libraries=places&callback=initMap"  async defer data-turbolinks-eval="true"></script>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
